/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #cfb080;
  text-align: center;
  background-color: #d4d0be;
}

/* Styles */
.container {
  margin: 100px auto;
  padding: 50px;
  width: 70%;
  max-width: 700px;
  background-color: #2F4F4F;
  border-radius: 10px;
  box-shadow: 0px 0px 15px black;
}

#data {
  margin: 30px 0 0;
}

#city {
  margin: 20px 0;
  line-height: 30px;
  padding: 5px 15px;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  max-width: 350px;
}

#city:focus {
  border: 2px solid #DAA520;
}

#submit {
  background-color: #DAA520;
  color: #2F4F4F;
  margin-left: 15px;
  padding: 12px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

#submit:hover {
  cursor: pointer;
}

#icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

#icon img {
  width: 125px;
  border-radius: 50%;
}

#celsius {
  font-weight: bold;
}

#result {
  margin: 30px 0 0;
  display: flex;
  justify-content: center;
}

#info {
  max-width: 250px;
  text-align: justify;
}

p {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #result {
    flex-direction: column;
    align-items: center;
  }
  #submit {
    margin-left: 0;
  }
  #icon {
    margin: 0 0 25px;
  }
  #info {
    text-align: center;
  }
}